<% layout("/layouts/boilerplate")%>
<body>
  <h3>Edit Your Listing</h3>

  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
    <!-- Title -->
    <input
      type="text"
      name="listing[title]"
      value="<%= listing.title %>"
      placeholder="Enter title"
      required
    />
    <br /><br />

    <!-- Description -->
    <textarea
      name="listing[description]"
      placeholder="Enter description"
      required
    >
<%= listing.description || "" %></textarea
    >
    <br /><br />

    <!-- Image URL -->
    <input
      type="text"
      name="listing[image][url]"
      value="<%= listing.image.url %>"
      placeholder="Enter image URL"
    />
    <br /><br />

    <!-- Price -->
    <input
      type="number"
      name="listing[price]"
      value="<%= listing.price %>"
      placeholder="Enter price"
      required
    />
    <br /><br />

    <!-- Country -->
    <input
      type="text"
      name="listing[country]"
      value="<%= listing.country %>"
      placeholder="Enter country"
      required
    />
    <br /><br />

    <!-- Location -->
    <input
      type="text"
      name="listing[location]"
      value="<%= listing.location %>"
      placeholder="Enter location"
      required
    />
    <br /><br />

    <button type="submit">Update Listing</button>
  </form>
</body>
